.ventk2-project{
    width: fit-content;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    text-align: center;
    color: #2D2D4F;
}
#info-tab{
    height: 300px;
}
button{
    background-color: #673ab7;
    color: white;
}
header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 1rem 0;
  color: white;
}
header h1{
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.currentSetting{
  font-size: 14pt;
}
