/*:host {*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*margin: 100px 0px;*/
/*}*/

form{
    width: 80%;
    margin: auto;
}
.mat-form-field {
    width: 100%;
    min-width: 300px;
}

.error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.mat-alert-danger {
    color: #f44336;
    /* Red */
}

#logincard {
    background-color: rgb(240, 245, 245);
}

.register-button {
    color: white;
    display: flex;
    justify-content: center;
    border: solid white 2px;
    padding: .3rem 1.8rem;
    margin: auto;
    font-size: 1rem;
}

input{
    color: white;
    padding: .3rem;
    background-color: rgba(46, 80, 125, 0.5);
    font-size: 1.5rem;
}

::ng-deep .mat-form-field .mat-form-field-label{
    color: white;
    font-size: 1rem;
}

/* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: white !important;
}

/* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color: white !important;
}

::ng-deep .mat-form-field-underline{
    background-color: white !important;
}